/*universal styling*/
/**:before,
*:after{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}*/

:root{
	--gradient: linear-gradient(
		45deg,
		#23965d,
		#3e8fa3,
		#6c60ab,
		#c26dcf);
}


.container{
	font-family: 'Caudex', serif;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.15em;
	line-height: 1.6;
	color: #333;
}

.first{
	font-family: 'Caudex', serif;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.15em;
	line-height: 1.6;
	color: #333;
}

@keyframes bg-animation{
	0% {background-position: left}
	100% {background-position: right};
}

.content, .container, .first{
	/*width:70vw;*/
	padding: 3em;
}


/*
.container{
	border: 1px solid black;
}*/

.first{
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0px;
}

.container{
	z-index: 2;
	
}

.first, .second{
	margin: 0 0 .5em;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 3rem;
	color: white;
	-webkit-text-stroke: 1px black;
	line-height: .8;
	margin: 0;
}

/*
.first:hover .content{
	background-image: var(--gradient);
	background-size: 400%;
	animation: bg-animation 3s infinite alternate;
	color: white;
	-webkit-text-stroke: transparent;
}*/


.first:hover {
	background-image: var(--gradient);
	-webkit-background-clip: text;
	background-size: 400%;
	animation: bg-animation 1s infinite alternate;
	color: transparent;
	-webkit-text-stroke: white;

}




.second{
	pointer-events: auto;
}

.container{
	pointer-events: none;
}


.container:hover{
	background-image: var(--gradient);
	background-size: 400%;
	animation: bg-animation 5s infinite alternate;
}







